/* Color Variables */
:root {
  /* --purple  : #A864FD; */
  --blue        : #A2DCEE;
  --purple      : #9A9CEA;
  --purple-lt   : #A2B9EE;
  --cyan        : #29CDFF;
  --yellow      : rgb(253, 255, 134);
  --green       : #ADEEE2;
  --pink        : #F82672;
  --pink-lt     : rgb(247, 162, 179);
  --orange      : #FF6045; 
}

body {
  position: relative;
  background-image: repeating-linear-gradient(to right, var(--green) 0, var(--green) 2%, var(--blue) 2% 4%);
  min-height: 100vh;
  min-width: 100vw;
}

body::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .3);
  z-index: -2;
}

/* Modal */

.modal-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10;
}

.modal-screen .modal-box, .item-added-box {
  background-color: whitesmoke;
  width: 50%;
  border: 5px solid black;
}

.item-added-box {
  width: 25%;
}

span.close-btn {
  font-size: 3rem;
}

.no-scroll {
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

/* Header */
.header {
  position: relative;
}

.header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--purple);
  border-bottom: 15px solid var(--purple-lt);
  z-index: -1;
}

.header img {
  max-width: 70%;
  cursor: pointer;
}

.cart-count {
  font-size: 1.4rem;
}
.cart-count:hover {
  cursor: pointer;
}

.cart-count span {
  text-shadow: 1px 1px 5px black;
}

/* Catalog View */

.card img {
  height: 180px;
  object-fit: cover;
}

.btn-details {
  background-color: cadetblue;
  color: white;
}

/* View details  */

.product-detail-img {
  text-align: center;
}
.product-detail-img img {
  max-width: 90%;
  height: 250px;
  object-fit: cover;
}
.btn-add-to-cart {
  cursor: pointer;
}

/* Cart Summary View */

.btn-back-to-catalog {
  cursor: pointer;
  font-size: 1.3rem;
}
.cart-item img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}

#qty {
  width: 3rem;
  padding: 2px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

/* Checkout */

#name-error, #address-error, #city-error, #state-error, #zipcode-error, #credit-card-error, #cvv-error {
  visibility: hidden;
  color: red;
  height: 1rem;
  font-size: .8rem;
}

.btn-complete {
  background-color: var(--green);
}
.btn-incomplete {
  background-color: gray;
}

.btn-incomplete:hover {
  cursor: context-menu;
}

/* Global */

.link:hover {
  cursor: pointer;
  opacity: .5;
}

.detail-container, .cart-summary-container, .card-item, .checkout-container {
  background-color: whitesmoke;
  border: 3px solid var(--pink);
  box-shadow: 1px 1px 10px gray;
}