/* Bootstrp color overrides */
:root {
  --purple  : #A864FD;
  --cyan    : #29cdff;
  --yellow  : #FDFF6A;
  --green   : #78FF44;
  --orange  : #FF718D;
}

.header {
  background-color: var(--purple);
}

/* Catalog View */
.card img {
  height: 180px;
  object-fit: contain;
}

/* View details  */
.product-detail-img {
  text-align: center;
}
.product-detail-img img {
  max-width: 80%;
  height: 350px;
  object-fit: contain;
}